<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="{:url('Permission/menu')}" class="back-page"><i class="fa fa-dashboard"></i> 菜单管理</a></li>
                        <li class="active">{$act}</li>
                    </ol>
                </section>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form id="form-group" class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="name" name="name" placeholder="填写名称" value="{$info.name ?? ''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择上级菜单</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="parent_id">
                                    <option value="0">--选择--</option>
                                    {volist name="parent_list" id='v'}
                                    <option value="{$v.menu_id}" {eq name="$v.active" value="1"}selected{/eq}
                                    >{$v.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">链接地址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="url" placeholder="/控制器名/方法名" value="{$info.url ?? ''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">图标</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="icon" placeholder="fa图标" value="{$info.icon ?? ''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="button" id="submit-form" class="btn btn-group-sm btn-primary">确定</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-group-sm btn-default back-page">取消</button>
                            </div>
                        </div>

                    </div>

                    <!--隐藏域-->
                    <input type="hidden" id="id" name="menu_id" value="{$info.menu_id ?? 0}">

            </form>
            <!-- /.box-body -->

    </div>
        <!-- /.box -->

</div>
    <!-- /.col -->
</div>
</section>

<script type="text/javascript">

    $("#submit-form").click(function () {
        var formdata = $("#form-group").serialize();
        var url = "{:url('Permission/menuSave')}";
        var result = http_service(url, formdata, 'POST');
        if(result.code == 1){
            layer.msg(result.msg, {time:1000, icon:6}, function () {
                window.location.href = "{:url('Permission/menu', '', '', true)}";
            });
        }else{
            layer.msg(result.msg, {icon:5});
        }

    })

</script>
