<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover table-custom treeTable">

                        <form id="form-data" >
                            <button type="button" class="btn btn-primary btn-sm create-button table_btn">新增人员</button>
                        </form>

                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>账号</th>
                            <th>昵称</th>
                            <th>角色</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="v"}
                            <tr>
                                <td>{$v.pid}</td>
                                <td>{$v.account}</td>
                                <td>{$v.name}</td>
                                <td>{$v.roles}</td>
                                <td>{$v.status_text}</td>
                                <td>
                                    {if condition="$v.pid eq 1"}
                                        <font color="#cccccc">编辑</font>&nbsp;&nbsp;
                                        <font color="#cccccc">删除</font>
                                    {else/}
                                        {if condition="$v.status eq 0"}
                                            <a href="#" onclick="statusAtr('{$v.pid}', 1)">启用&nbsp;&nbsp;</a>
                                        {else/}
                                            <a href="#" onclick="statusAtr('{$v.pid}', 0)">禁用&nbsp;&nbsp;</a>
                                        {/if}
                                        <a href="{:url('Permission/personEdit')}?id={$v.pid}" >编辑&nbsp;&nbsp;</a>
                                        <a href="#" onclick="del('{$v.pid}')">删除</a>&nbsp;&nbsp;
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                        </tbody>

                    </table>

                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
</section>



<script>
    $(function () {

        $('#table').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'info'        : false,
            'autoWidth'   : false,
            "stateSave"   : true,
            'ordering'    : false,
            "order"       : [[ 0, "desc" ]],
            'searching'   : true,
            "columnDefs"  :[
                {
                    "targets":[5],
                    "searchable":false
                }
            ],
            "language": datatable_lang
        })

    })

    $('.create-button').click(function () {
        window.location.href = "{:url('Permission/personEdit')}";
    })

    function del(id) {
        layer.confirm('确定删除吗?', {icon: 3, title:'删除操作不可撤回'}, function(index){
            var url = "{:url('Permission/personDel')}";
            var result = http_service(url, {id: id}, 'POST');
            if(result.code == 1){
                layer.msg(result.msg, {time:1000, icon:6}, function () {
                    window.location.reload();
                });
            }else{
                layer.msg(result.msg, {icon:5});
            }
        });
    }

    function statusAtr(id, status) {
        if(status == 1){
            var tips = '启用?'
        }else{
            var tips = '禁用?'
        }
        layer.confirm(tips, {icon: 3, title:'修改状态'}, function (index){
            var url = "{:url('Permission/personStatus')}";
            var result = http_service(url, {id:id, status:status}, 'POST');
            if(result.code == 1){
                layer.msg(result.msg, {time:1000, icon:6}, function () {
                    window.location.reload();
                });
            }else{
                layer.msg(result.msg, {icon:5});
            }
        });
    }

</script>