<style>
    .table tbody tr td{
        vertical-align: middle;
    }
</style>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover table-custom treeTable">

                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>头像</th>
                            <th>手机号</th>
                            <th>简介</th>
                            <th>擅长</th>
                            <th>状态</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="v"}
                            <tr>
                                <td>
                                    {$v.id}
                                </td>
                                <td>{$v.name}</td>
                                <td class="photo" id="photo_{$v.id}" title="点击查看大图">
                                    <img src="{$v.photo_url}" height="40">
                                </td>
                                <td>{$v.phone ?? '-'}</td>

                                {if condition="mb_strlen($v.summary) lt 10"}
                                <td>{$v.summary}</td>
                                {else/}
                                <td class="full_cont" data-cont="{$v.summary}"
                                    style="cursor: pointer" title="查看完整信息">{$v.summary|mb_substr=0,10}...</td>
                                {/if}

                                {if condition="mb_strlen($v.skill) lt 10"}
                                <td>{$v.skill}</td>
                                {else/}
                                <td class="full_cont" data-cont="{$v.skill}"
                                    style="cursor: pointer" title="查看完整信息">{$v.skill|mb_substr=0,10}...</td>
                                {/if}

                                <td>
                                    {if condition="$v.status eq 1"}
                                    <span class="label label-danger">{$v.status_text}</span>
                                    {else/}
                                    <span class="label label-success">{$v.status_text}</span>
                                    {/if}
                                </td>

                                <td>{:date('Y-m-d H:i', strtotime($v.updated_time))}</td>
                                <td>
                                    {if condition="$v.status eq 1"}
                                    <a href="#" onclick="statusArt('{$v.id}', 2)">标记处理&nbsp;&nbsp;</a>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                        </tbody>

                    </table>

                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
</section>

<script>
    $(function () {
        var lang = datatable_lang

        $('#table').DataTable({
            "language"    : lang,
            'paging'      : true,
            'lengthChange': false,
            'info'        : false,
            'autoWidth'   : false,
            "stateSave"   : true,
            'ordering'    : true,
            "order"       : [[ 0, "desc" ]],
            'searching'   : true,
            "columnDefs"  :[
                {
                    "targets":[8],
                    "searchable":false
                }
            ],
            "dom": 'flrtip'
        })

    })

    $('.photo img').click(function () {
        var item = $(this).parent().attr('id')
        layer.photos({
            photos: '#'+item
            ,anim: 5
        });
    })

    $('.full_cont').mouseover(function () {
        var content = $(this).attr('data-cont')
        layer.closeAll()
        layer.tips(content, $(this), {
            tips: [1, '#3c8dbc']
        });
    })

    function statusArt(id, status) {

        layer.confirm('确定标记为已处理？', {icon: 3, title:'修改状态'}, function(index){
            var url = "{:url('Expert/applyStatus')}";
            var result = http_service(url, {id:id, status:status}, 'POST');
            if(result.code == 1){
                layer.msg(result.msg, {time:1000, icon:6}, function () {
                    window.location.reload();
                });
            }else{
                layer.msg(result.msg, {icon:5});
            }
        });
    }

</script>