<style>
.type_input{
    display: none;
}
</style
<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="#" class="back-page"><i class="fa fa-dashboard"></i> Banner列表</a></li>
                        <li class="active">{$act}</li>
                    </ol>
                </section>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form id="form-group" class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">位置</label>
                            <div class="col-sm-8">
                                {volist name='type_list' id='v'}
                                <label style="margin-right: 15px;">
                                    <input class="type" type="radio" name="type" value="{$v.value}" {$v.checked}>
                                    &nbsp;{$v.name}
                                </label>
                                {/volist}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-8">
                                {volist name='link_type' id='v'}
                                <label style="margin-right: 15px;">
                                    <input class="link_type" type="radio" name="link_type" value="{$v.value}" {$v.checked}>
                                    &nbsp;{$v.name}
                                </label>
                                {/volist}
                            </div>
                        </div>

                        <div class="form-group type_input" id="type_1">
                            <label class="col-sm-2 control-label">选择视频</label>
                            <div class="col-sm-8">
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" name="course_id">
                                    <option>选择视频</option>
                                    {volist name='courses' id='v'}
                                    <option value="{$v.course_id}" {$v.selected ?? ''}>{$v.title}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group type_input" id="type_2">
                            <label class="col-sm-2 control-label">选择资讯</label>
                            <div class="col-sm-8">
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" name="article_id">
                                    <option>选择资讯</option>
                                    {volist name='articles' id='v'}
                                    <option value="{$v.article_id}" {$v.selected ?? ''}>{$v.title}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group type_input" id="type_3">
                            <label class="col-sm-2 control-label">选择专家</label>
                            <div class="col-sm-8">
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" name="expert_id">
                                    <option>选择专家</option>
                                    {volist name='experts' id='v'}
                                    <option value="{$v.expert_id}" {$v.selected ?? ''}>{$v.name}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group type_input" id="type_4">
                            <label class="col-sm-2 control-label">填写外部链接</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="link_url" placeholder="此处粘贴外部链接" value="{$info.link_url ?? ''}">
                            </div>
                        </div>
                        <div class="form-group type_input" id="type_5">
                            <label class="col-sm-2 control-label">选择音频</label>
                            <div class="col-sm-8">
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" name="course_id">
                                    <option>选择音频</option>
                                    {volist name='audios' id='v'}
                                    <option value="{$v.course_id}" {$v.selected ?? ''}>{$v.title}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">封面</label>
                            <div class="col-sm-8">
                                <img src="{notempty name='info.photo'}{$info.photo}{else/}/static/img/up.png{/notempty}" id="add-img" title="添加图片" style="border:1px solid #d2d6de; max-width: 120px"/>
                                <!-- 图片控件 -->
                                <input type="file" id="file_put" accept="image/*" style="display: none">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="description" placeholder="填写描述" value="{$info.description ?? ''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="button" id="submit-form" class="btn btn-group-sm btn-primary">确定</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-group-sm btn-default back-page">取消</button>
                            </div>
                        </div>

                    </div>

                    <!--隐藏域-->
                    <input type="hidden" id="id" name="id" value="{$info.id ?? 0}">
                    <input type="hidden" id="photo" name="photo" value="{$info.raw_photo ?? ''}">

            </form>
            <!-- /.box-body -->
    </div>
        <!-- /.box -->
</div>
    <!-- /.col -->
</div>
</section>

<script type="text/javascript">
    $('.select2').select2()

    $("#submit-form").click(function () {
        var formdata = $("#form-group").serialize();
        var url = "{:url('Banner/save')}";
        var result = http_service(url, formdata, 'POST');
        if(result.code == 1){
            layer.msg(result.msg, {time:1000, icon:6}, function () {
                window.location.href = "{:url('Banner/index')}";
            });
        }else{
            layer.msg(result.msg, {icon:5});
        }
    })

    // 图片添加
    $("#add-img").click(function () {
        $("#file_put").click();
        $("#file_put").on("change",function(){
            var objUrl = upload_file(this.files[0]) ;
            if (objUrl.code == 1) {
                $("#add-img").attr("src", '{$Think.config.aliyun_oss.res_url}' + objUrl.data.photo) ;
                $("#photo").val(objUrl.data.photo);
            }else{
                layer.msg(objUrl.msg, {icon:5});
            }
        });
    });

    $('.link_type').change(function (e) {
        var typeid = $(this).val()
        $('.type_input').hide()
        $('#type_'+typeid).show()
    })

    $(function () {
        var typeid = $("input[name='link_type']:checked").val();
        $('#type_'+typeid).show()
    })

</script>
