<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover table-custom treeTable">
                        <form id="form-data" action="{:url('Show/showadd')}" method="post" >
                            <button type="button" class="btn btn-primary btn-sm create-button table_btn" >新建轮播</button>
                        </form>
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>轮播类型</th>
                            <th>状态</th>
                            <th>预览</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="v"}
                        <tr id="node-{$v.id}" class="initialized parent_tr collapsed">
                            <td>{$v.id}</td>
                            <td>{$v.type_text}</td>
                            <td>{$v.status_text}</td>
                            <td>{if condition="$v.type_text eq '图片'"}
                                <img src="{notempty name='v.storage'}{$v.storage}{/notempty}" height="40px">
                                {else/}
                                <a href=" " class="open_video" url="{$v.storage}">点击预览</a>
                            {/if}</td>
                            <td>{$v.created_time}</td>
                            <td>
                                {if condition="$v.status eq 1"}
                                <a href="#" onclick="statusArt('{$v.id}', 0)">下线&nbsp;&nbsp;</a>
                                {else /}
                                <a href="#" onclick="statusArt('{$v.id}', 1)">上线&nbsp;&nbsp;</a>
                                {/if}
                                <a href="#" onclick="del('{$v.id}')">删除</a>&nbsp;

                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>


<script>
    $(function () {

        $('#table').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'info'        : false,
            'autoWidth'   : false,
            "stateSave"   : true,
            'ordering'    : false,
            "order"       : [[ 0, "desc" ]],
            'searching'   : true,
            "columnDefs"  :[
                {
                    "targets":[5],
                    "searchable":false
                }
            ],
            "language": datatable_lang,
            "dom": 'flrtip'
        })

    })

    $(".select2").change(function () {
        var data = $(this).serialize();
        window.location.href = "{:url('Show/show')}?"+data;

    })

    $('.create-button').click(function () {
        window.location.href = "{:url('Show/showEdit')}";
    })

    $('.open_video').click(function (e) {
        e.preventDefault()
        var url = $(this).attr('url')
        if(!url){
            layer.msg('资源地址不可用', {icon: 5})
        }else{
            layer.open({
                type: 2,
                title: false,
                area: ['630px', '360px'],
                shade: 0.8,
                closeBtn: 0,
                shadeClose: true,
                content: url
            });
        }

    })

    function statusArt(id, status) {
        if (status == 1) {
            var tips = '确定上线?'
        } else {
            var tips = '确定下线?'
        }
        layer.confirm(tips, {icon: 3, title: '修改状态'}, function (index) {
            var url = "{:url('Show/showStatus')}";
            var result = http_service(url, {id: id, status: status}, 'POST');
            if (result.code == 1) {
                layer.msg(result.msg, {time: 1000, icon: 6}, function () {
                    window.location.reload();
                });
            } else {
                layer.msg(result.msg, {icon: 5});
            }
        });

    }
    function del(id) {
        layer.confirm('确定删除吗?', {icon: 3, title:'删除操作不可撤回'}, function(index){
            var url = "{:url('Show/showDel')}";
            var result = http_service(url, {id: id}, 'POST');
            if(result.code == 1){
                layer.msg(result.msg, {time:1000, icon:6}, function () {
                    window.location.reload();
                });
            }else{
                layer.msg(result.msg, {icon:5});
            }
        });
    }


</script>