<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="" class="back-page"><i class="fa fa-dashboard"></i>小秘书列表</a></li>

                    </ol>
                </section>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form id="form-group" class="form-horizontal" enctype="multipart/form-data" method="post" action="{:url('System/system')}">

                    <div class="form-group">
                        <label for="desc" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="content" name="content" placeholder="编辑内容" value="" >{$info.content ?? ''}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="button" id="submit-form" class="btn btn-group-sm btn-primary">确定</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="reset" class="btn btn-group-sm btn-default back-page">取消</button>
                            </div>
                        </div>

                    </div>

                    <!--隐藏域-->
                    <input type="hidden" id="id" name="id" value="{$info.id ?? 0}">


            </form>
            <!-- /.box-body -->

    </div>
        <!-- /.box -->

</div>
    <!-- /.col -->
</div>
</section>

<script type="text/javascript">

    $("#submit-form").click(function () {
        var formdata = $("#form-group").serialize();
        var url = "{:url('System/systemAdd')}";
        var result = http_service(url, formdata, 'POST');
        if(result.code == 1){
            layer.msg(result.msg, {time:1000, icon:6}, function () {
                window.location.href = "{:url('System/system', '', '', true)}";
            });
        }else{
            layer.msg(result.msg, {icon:5});
        }

    });



</script>
